<div class='container'>
<ul>
  <% @albums.each do |album| %>
    <li><a href="/albums/<%=album.id%>"><%= album.album_name %></a></li>
  <% end %>
</ul>

<p><a href="/albums/new">New Album</a></p>

</div>
