<h1> Login </h1>

<% if current_user == nil %>
<p> You need to be signed in to see the albums! Sign in below or <a href="/new">Sign Up</a> today</p>
<% end %>


<form action="/login" method="post" id="login">
  <div>
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]">
  </div>
  <div>
    <label for="user[password">Password:</label>
    <input type="password" name="user[password]">
  </div>
  <button type="submit">Submit</button>
</form>
