<p> Create New Account </p>

<% if @errors %>
  <ul>
    <% @errors.each do |key, value| %>
      <li class="error_messages"><%= key %>: <%= value.join(", ") %></li>
    <% end %>
  </ul>
<% end %>

<form action="/new" method="post" id="login" enctype="multipart/form-data">
  <div>
    <label for="user[username">Username:</label>
    <input type="text" name="user[username]" autofocus>
  </div>
  <div>
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]">
  </div>
  Profile Picture:
  <input type="file" name="user[file]">
  <input type="submit" value="Submit">
</form>
