<p> Create New Account </p>

<form action="/new" method="post" id="login">
  <div>
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]">
  </div>
  <div>
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]">
  </div>
  <button type="submit">Submit</button>
</form>
